extends ../../layouts/default.pug 
block main 
     h1 Danh sách sản phẩm
        table.table.table-hover.table.sm
            thead 
                
                tr 
                    
                    th STT 
                    th Hình ảnh 
                    th Tiêu đề
                    th Giá
                   
                    th Trạng thái 
                    th Hành động 

            tbody 
                tr 
                    td 1
                    td
                        img(
                            src="https://www.oppo.com/content/dam/oppo/common/mkt/v2-2/oppo-a60/list-page/427-600-blue.png"
                            alt="Sản phẩm 1"
                            width="100px"
                            height="auto"
                        )

                    td Sản phẩm 1
                    td 30$
                 
                    td 
                        a(
                            href="javascript:;" 
                            
                            class="badge badge-success"
                            ) Hoạt động
                        
                        
                
                    td  
                        a(
                        href=`javascript:;`
                        class="btn btn-secondary btn-sm",
                        ) Chi tiết
                
                        a(
                            href=`javascript:;`
                            class="btn btn-warning btn-sm",
                        ) Sửa
                    
                        button(
                            class="btn btn-danger btn-sm ml-1"
                        
                        ) Xóa
